---
import Stats from '../components/Stats.astro';
import Features from '../components/Nosotros.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Galeria from '../components/Galeria.astro';
import CallToAction from '../components/Unete.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 -mt-40">
		<HeroSection/>
		<Features />
		<!-- <Stats/> -->
		<Galeria/>
		<CallToAction/>
		<Blog/>
	</main>
</Layout>