---
import Container from "./Container.astro"

---
<div class="media">
  <video class="media__item absolute opacity-20 dark:opacity-10 aspect-video w-full top-0 -z-10 blur-sm" autoplay muted loop>
    <source src="/videos/VBG_1.webm"/>
    ¡Oops! Tu navegador no soporta la etiqueta de vídeo 🥲.
  </video>
</div>

<div class="" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-4 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-2xl h-300 bg-gradient-to-br from-primary to-info dark:from-primary"></div>
      <div class="blur-2xl h-300 bg-gradient-to-tr from-secondary to-info dark:from-secondary"></div>
      <div class="blur-2xl h-300 bg-gradient-to-bl from-primary to-info dark:from-info"></div>
      <div class="blur-2xl h-300 bg-gradient-to-tl from-secondary to-info dark:from-secondary"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="font-bebas text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Bienvenido a <span class="text-primary dark:text-white">CCIJAV</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Respondió Jesús y le dijo: Si conocieras el don de Dios, y quién es el que te dice: Dame de beber; tú le pedirías, y él te daría agua viva.</p>
                <span class="text-info font-bold text-sm">Juan 4:10</span>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a href="/contact" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white">Contáctanos</span>
                    </a>
                    <a href="#us" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white">Conoce más</span>
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-center">
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Servicios todos los domingos, 9:30 am</h6>
                        <div class="text-center leading-3">
                          <p class="mt-2 text-gray-500">CC Castillejo, Piso 1 - Salón de Fiestas Plaza Real.</p>
                          <p class="mt-2 text-gray-500">Guatire Edo Miranda, Venezuela </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>

<style>
  /* Video opacity gradient start */
  .media{
    background: linear-gradient(to right, #000000, rgba(19, 19, 19, 0));
    }
      
  .media__item {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  /* Video opacity gradient end */
</style>